# === IntelliJ IDEA ===
# IntelliJ project files
*.idea/
*.iml
*.iws

# !.idea/codeStyles/
# !.idea/runConfigurations/

# === Maven / Java ===
# Build output
**/target/

# Maven metadata backups
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Compiled class files
*.class

# Package archives
*.jar
*.war
*.ear

# === Logs ===
*.log
logs/

# === Miscellaneous ===
# BlueJ
*.ctxt
# Mobile Tools for Java
.mtj.tmp/
# Env files
*.env
